@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .input {
    @apply border border-white w-full rounded-full py-2 outline-none px-4 focus:ring-2 focus:border-transparent focus:ring-white/80 bg-transparent text-white text-shadow;
  }

  .input-label {
    @apply text-white block pb-1 text-shadow;
  }
}

@layer components {
  .primary-btn {
    @apply bg-gradient-to-r from-lime-500 to-lime-600 text-white py-2 px-5 rounded-full mt-7 block w-full hover:bg-gradient-to-r hover:from-lime-600 hover:to-lime-500 hover:scale-105 transition-all duration-300 shadow-custom-inset;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 2px #1128015b;
  }
}
